
.category-box{
    background-color: #ffffff !important;
    color: #000 !important;
    padding: 10px;
}

.category-box:hover{
    background-color: rgba(235, 203, 139, 0.5) !important;
    color: #000 !important;
}

.category-logo{
    background-color: transparent !important;
}

